* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

.main-p {
    text-align: center;
    margin-top: 10px;
    font-size: 30px;
}

.new_game_container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.new_game_img {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.new_game_par {
    margin-top: 2px;
    margin-left: 5px;
    font-size: 20px;
}

.top_container {
    margin-top: 20px;
}

.player1_subinfos, .player2_subinfos {
    width: 100px;
    display: flex;
    justify-content: center;
}

.player_id {
    font-size: 17px;
}

.player1_point {
    width: 25px;
    height: 25px;
}

.player2_point {
    width: 25px;
    height: 25px;
    display: none;
}

.player1-global_score, .player2-global_score {
    font-size: 40px;
    text-align: center;
    color: rgb(163, 105, 105);
}

.dice {
    display: flex;
    justify-content: center;
}

.dice-img {
    margin-top: 10px;
    width: 80px;
    height: 80px;

}

.low_container{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    margin-top: 20px;
}

.roll_container {
    display: flex;
    justify-content: center;
}
.hold_container {
    display: flex;
    justify-content: center;
}

.low_container_player1_container, .low_container_player2_container {
    background-color: brown;
    width: 100px;
    height: 70px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    border-radius: 2px;
}

.low_container_player1, .low_container_player2 {
    font-size: 10px;
    text-align: center;
    margin-bottom: 10px;
}

.actions_container {
    width: 140px;
    height: 70px;
}

.roll-img, .hold-img {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.roll-par, .hold-par {
    margin-top: 4px;
    margin-left: 5px;
    font-size: 15px;
    text-align: center;
}

.low_container_player1_current-score, .low_container_player2_current-score {
    text-align: center;
    font-size: 20px;
    color: white;
}

.win_p {
    font-size: 30px;
    text-align: center;
    display: none;
}

@media (min-width: 500px) {
    .dice-img {
        width: 100px;
        height: 100px;
    }

    .player1_point, .player2_point {
        margin-top: 10px;
        
    }

    .player_id {
        margin-top: 1px;
        font-size: 30px;
    }

    .player1-global_score, .player2-global_score {
        font-size: 50px;
    }

    .low_container_player1_container, .low_container_player2_container {
        width: 170px;
        height: 120px;
    }

    .actions_container {
        width: 170px;
        height: 120px;
    }

    .roll_container {
        margin-top: 20px;
    }
    
    .roll-img, .hold-img {
        width: 30px;
        height: 30px;
        
    }

    .roll-par, .hold-par {
        margin-top: 2px;
        margin-left: 5px;
        font-size: 20px;
        text-align: center;
    }


    .low_container_player1, .low_container_player2 {
        font-size: 20px;
    }

    .low_container_player1_current-score, .low_container_player2_current-score {
        font-size: 35px;
    }

    .win_p {
        font-size: 40px;
    }

    .new_game_img {
        width: 50px;
        height: 50px;
    }
    
    .new_game_par {
        margin-top: 4px;
        margin-left: 5px;
        font-size: 30px;
    }
}


@media (min-width: 1024px) {
    .dice-img {
        width: 200px;
        height: 200px;
    }

    .low_container {
        margin-top: 100px;
    }

    .low_container_player1_container, .low_container_player2_container {
        width: 180px;
        height: 150px;
    }

    .actions_container {
        width: 250px;
        height: 150px;
    }

    .player_id {
        margin-top: 1px;
        font-size: 30px;
    }
    .player1-global_score, .player2-global_score {
        font-size: 70px;
    }

    .roll_container, .hold_container {
        margin-top: 20px;
    }

    .roll-img, .hold-img {
        width: 50px;
        height: 50px;
    }

    .roll-par, .hold-par {
        margin-top: 2px;
        margin-left: 15px;
        font-size: 30px;
        text-align: center;
    }

    .low_container_player1, .low_container_player2 {
        font-size: 15px;
    }

    .low_container_player1_current-score, .low_container_player2_current-score {
        margin-top: 40px;
        font-size: 45px;
    }

    .win_p {
        font-size: 60px;
    }

}