* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

.main-p {
    text-align: center;
    margin-top: 10px;
    font-size: 30px;
}

.new_game_container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.new_game_img {
    cursor: pointer;
}

.new_game_par {
    margin-top: 4px;
    margin-left: 5px;
    font-size: 30px;
}

.top_container {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.player1_subinfos, .player2_subinfos {
    display: flex;
    justify-content: center;
}

.player_id {
    margin-top: 1px;
    font-size: 30px;
}

.player2_point {
    display: none;
}

.player1-global_score, .player2-global_score {
    margin-top: 40px;
    font-size: 30px;
    text-align: center;
    font-size: 70px;
    color: rgb(163, 105, 105);
}

.dice-img {
    width: 300px;
    height: 300px;
}

.low_container{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.roll_container {
    display: flex;
    justify-content: center;
}
.hold_container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.low_container {
    margin-bottom: 50px;
}

.low_container_player1_container, .low_container_player2_container {
    background-color: brown;
    width: 150px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
}

.low_container_player1, .low_container_player2 {
    font-size: 30px;
    text-align: center;
}

.roll-img, .hold-img {
    cursor: pointer;
}

.roll-par, .hold-par {
    margin-top: 2px;
    margin-left: 15px;
    font-size: 30px;
    text-align: center;
}

.low_container_player1_current-score, .low_container_player2_current-score {
    text-align: center;
    font-size: 70px;
    color: white;
}

.win_p {
    font-size: 60px;
    text-align: center;
    display: none;
}